<html>

<head>
  <meta charset="UTF-8">
  <title>Collection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/static/collection-font1.css" rel="stylesheet" >
  <link href="/static/collection-font2.css" rel="stylesheet" >
  <link rel="stylesheet" href="/static/collection.css">
  <h1> Pomodoro Collection </h1>
</head>



<div class="svg-container">
    <!-- I created SVG with: https://codepen.io/anthonydugois/pen/mewdyZ -->
    <svg viewbox="0 0 800 400" class="svg">
      <path id="curve" fill="#c43636" d="M 800 300 Q 400 350 0 300 L 0 0 L 800 0 L 800 300 Z">
      </path>
    </svg>
</div>



<body>
<section>
  <div class="container-fluid">
    <div class="container">
      <div class="row1">
        <div class="col-sm-4">
          <div class="card text-center">
            <img src="/static/big_red.png" alt="red Icon" style="width:200px;height:128px;" >
            <div class="title">
              <i class="red" aria-hidden="true"></i>
              <h2> 1 tomatoes </h2>
            </div>
            <div class="name">
              <h4>Red</h4>
            </div>
            <div class="story">
              <ul>
                <i class="red" aria-hidden="true"></i> Red is from the Red Tomato Clan and was the first tomato who joined the league.
                <i class="red" aria-hidden="true"></i> His vibrant color and royal blood make him one of the most sought-after tomatoes.
                <i class="red" aria-hidden="true"></i> His specialty includes creating sauces and making burgers.
                <i class="giant" aria-hidden="true"></i> Red will be the only tomato that is accessible through the technique.
              </ul>
            </div>
          </div>
        </div>
        <!-- END Col one -->

        <div class="col-sm-4">
          <div class="card text-center">
            <img src="/static/giant.png" alt="giant Icon" style="width:200px;height:128px;" >
            <div class="title">
              <i class="giant" aria-hidden="true"></i>
              <h2> 2 tomatoes</h2>
            </div>
            <div class="name">
              <h4>Giant</h4>
            </div>
            <div class="story">
              <ul>
                <i class="giant" aria-hidden="true"></i> Giant is the largest tomato from the Green Giant Clan. Born as the heir of the current
               <i class="giant" aria-hidden="true"></i> king of the Green Giant Clan, he has despited the barbaric nature of his clan.
               <i class="giant" aria-hidden="true"></i> After the death of his mother, Giant decided to leave his clan and join the league.
              </ul>
            </div>
          </div>
        </div>
        <!-- END Col two -->

        <div class="col-sm-4">
          <div class="card text-center">
            <img src="/static/sparky.png" alt="sparky Icon" style="width:200px;height:128px;" >
            <div class="title">
              <i class="sparky" aria-hidden="true"></i>
              <h2> 3 tomatoes</h2>
            </div>
            <div class="name">
              <h4>Sparky</h4>
            </div>
            <div class="story">
              <ul>
                <i class="sparky" aria-hidden="true"></i> Being the most talented tomato in the Sun Gold Tomato clan, Sparky
                <i class="sparky" aria-hidden="true"></i> created the first AI algorithm that can predict the lottery.
                <i class="sparky" aria-hidden="true"></i> However, seeing Sparky winning $1,000,000,000, his friends
                <i class="sparky" aria-hidden="true"></i> betrayed him, leaving him with no choice but to join the league.
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
        <!-- END Col three -->




        <section>
          <div class="container-fluid">
            <div class="container">
              <div class="row2">
                <div class="col-sm-4">
                  <div class="card text-center">
                    <img src="/static/snow.png" alt="snow Icon" style="width:200px;height:128px;" >
                    <div class="title">
                      <i class="snow" aria-hidden="true"></i>
                      <h2> 1 tomatoes</h2>
                    </div>
                    <div class="name">
                      <h4>Snow</h4>
                    </div>
                    <div class="story">
                      <ul>
                      <i class="snow" aria-hidden="true"></i> Snow was initially bullied through his years school due to his albino skin color.
                      <i class="snow" aria-hidden="true"></i> It wasn't until after he graduated that he realized that there was a whole clan like him.
                      <i class="snow" aria-hidden="true"></i> Snow wanted to join the league because he wants to make his stance on protecting tomatoes who are not like the rest.
                      </ul>
                    </div>
                  </div>
                </div>



                <div class="col-sm-4">
                  <div class="card text-center">
                    <img src="/static/krim.png" alt="krim Icon" style="width:200px;height:128px;" >
                    <div class="title">
                      <i class="krim" aria-hidden="true"></i>
                      <h2> 1 tomatoes</h2>
                    </div>
                    <div class="name">
                      <h4>Krim</h4>
                    </div>
                    <div class="story">
                      <ul>
                      <i class="krim" aria-hidden="true"></i> Krim is a great warrior from the Dark Tomato Nation. Residing in a
                      <i class="krim" aria-hidden="true"></i> secluded part in the world, you rarely ever have the opportunity to meet his kind.
                      <i class="krim" aria-hidden="true"></i> Usually, Krim is quick tempered, blunt, and rude.
                      <i class="krim" aria-hidden="true"></i> He joined the league to retire from the neverending battles his nation fights.
                      </ul>
                    </div>
                  </div>
                </div>



                <div class="col-sm-4">
                  <div class="card text-center">
                    <img src="/static/tomatoman.png" alt="tomatoman Icon" style="width:200px;height:128px;" >
                    <div class="title">
                      <i class="tomatoman" aria-hidden="true"></i>
                      <h2> 2 tomatoes</h2>
                    </div>
                    <div class="name">
                      <h4>El Tomate</h4>
                    </div>
                    <div class="story">
                      <ul>
                      <i class="tomatoman" aria-hidden="true"></i> El Tomato made a great breakthrough in tomato medicine and is well-respected by all the tomatoes in the world.
                      <i class="tomatoman" aria-hidden="true"></i> Ever since, he became a hermit and  lived peacefully for over a century, but his life has gradually
                      <i class="tomatoman" aria-hidden="true"></i> grown dull ever since. He now wants to interact other tomatoes again, which is why he is here in the league.
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>





<section>

  <input type="button" onclick="window.location.href='/home';" value="Back">

</section>

</body>

</html>
