<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <div class="alert alert-fail">
                {% if fail %}
                    {{fail}}
                {% endif %}
            </div>
            <form action = "/login" method = "post">
                <label for = "inputEmail">Enter Email Address:</label>
                <input type = "email" id = "inputEmail" name = "user_email" placeholder = "Email address">
                <br>
                <label for = "inputPassword">Enter Password:</label>
                <input type = "password" id = "inputPassword" name = "user_pass" placeholder = "Password">
                <br>
                <button class = "btn btn-lg btn-primary btn-block" type = "submit">Sign In</button>
            </form>
        </div>
    </body>
</html>