<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="/static/home.css">
	<title> Welcome to Promato! </title>
</head>
    <body>
		
		<h1> Promato </h1>
		
		<img src="/static/rainbomato.gif" style="width:30%;height:30%;" >
		
		<div id="intro">
		
		<p>
            Have you ever waited till the last hour to finish that essay? Have you<br>	
            ever put off that homework assignment until minutes before class? Have<br>
            you ever struggled with the procrastination and gotten stuck in the dark<br>
            mental playground? Don't worry! Promato's got your back!<br>
            Answer a couple questions and we'll provide you a service that utilizes<br>
            the Pomodoro technique!
        </p>

		</div>
			<input type="button" onclick="window.location.href='/login';" value="Login"></input>
	  	    <input type="button" onclick="window.location.href='/register';" value="Register"></input>
    </body>
</html>